 <h2>	 registration </h2>
 <form>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" />
  </div>

  <div class="form-group">
    <label for="email">email</label>
    <input type="String" />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="String" />
  </div>

  <div class="form-group">
    <label for="fio">fio</label>
    <input type="String" />
  </div>

  <div class="form-group">
    <label for="sex">sex</label>
    <input type="String" />
  </div>

  <div class="form-group">
    <label for="role">role</label>
    <input type="String" />
  </div>


  <div class="form-group">
    <label for="coin">coin</label>
    <input type="Number" />
  </div>

  <div class="form-group">
    <button class="btn btn-primary">registration </button>
  </div>
  
 <a routerLink="/item/all">All items</a>
 <router-outlet></router-outlet>

</form>