<h2 class="center">Login</h2>
<form>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" />
  </div>

  <div class="form-group">
    <nav>
      <button class="btn btn-primary" routerLink="authentication/signIn">entrance</button>
      <button class="btn btn-primary" routerLink="authentication/signUp">Аuthorization</button>
    </nav>
    <router-outlet></router-outlet>
  </div>
 


</form>