<form>
  <div *ngIf="user">
    <h1>name: {{user.username}}</h1>
    <h1>email: {{user.email}}</h1>
    <h1>money: {{user.coin}}</h1>
    <div *ngIf="items">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>№</th>
            <th>Item name</th>
            <th>Item price</th>
            <th>Item about</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items; let i=index">
          <tr>
            <td>{{i}}</td>
            <td> {{item.title}} </td>
            <td>{{item.price}}</td>
            <td> {{item.about}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn-primary" routerLink="/item/sell" [queryParams]="{'username':user.username}">Add and byu new item</button>
    <button class="btn-primary" routerLink="/item/all" [queryParams]="{'username':user.username,'userId':user._id }">go
      to market</button>
    <button class="btn-primary" routerLink="">Logout</button>
  </div>
</form>