<form>

  <div class="form-group">
    <label for="title">title</label>
    <input #title type="text" />
  </div>

  <div class="form-group">
    <label for="price">price</label>
    <input #price type="number" />
  </div>

  <div class="form-group">
    <label for="about">about</label>
    <input #about type="text" />
  </div>


  </form>
 
      <button type="reset" (click)="onCreateItem(title.value, price.value,about.value)"> Add new component </button>
      <!-- <nav>
      <button routerLink="authentication/signIn/username"> back </button>
    </nav>
   -->