<h1>market</h1>

<button class="btn-primary" (click)="getMyItems(username)">only my items</button>
<button class="btn-primary" (click)="getItems()">all items</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Item name</th>
            <th>Item price</th>
            <th>Item about</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of items; let i=index">
        <tr>
            <td>{{i}}</td>
            <td> {{item.title}} </td>
            <td>{{item.price}}</td>
            <td> {{item.about}}</td>
            <td class="btn" *ngIf="item.username!==username" (click)="onBuy(item)">BUY</td>
            <td class="text" *ngIf="item.username === username">MY ITEM</td>
        </tr>
    </tbody>
</table>
<button class="btn-primary" routerLink="/authentication/signIn/{{username}}">go home</button>